html, body { height: 100%; background-color: black;}

body {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  background-color: black;
  color: white;
  padding: 25px 0px 25px 0px;
}

.hr{
  z-index: 99;
  border: 5px solid black;
}

.row{
  margin-bottom: 10px;
}

/*going to be JS interactive, can't combine due to dedicated grid areas*/
.DATE {  
    font-weight: bold;
    text-align: center;
    float: left;
}

/*going to be JS interactive*/
.TIME { 
    font-weight: bold;
    text-align: center;
    float: right;
}

.TITLE { 
    font-family: 'Josefin Sans', sans-serif;
    text-align:center; 
    border-bottom: 1px solid white; 
    font-size: 25px;
    line-height: 1px; 
    margin:10px 0 20px;
    color: #f1c232;
}
    .title-wrap{
        background:black; 
        padding:0 20px; 
}

.SCHEDULE {
 margin: 5vw;
}

.hour{ /*what's being generated*/
  min-height: 80px;
  max-height: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}

textarea {
  border-color: black;
  border-width: 1px 0px 1px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  min-height: 80px;
  max-height: 80px;
  overflow: auto;
  padding: 10px;
}

.past {
  background-color: white;
}

.present {
  background-color: #f1c232;
  font-weight: bold;
}

.future {
  background-color: #1ebebe;
  font-weight: bold;
}

/* .buttons { grid-area: button; } */

button{
  border: 0;
  background-color: #f1c232;
}
